@charset "UTF-8";
/* body */
body {
    line-height: 1.7;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #000;
}
a,
a:link {
    color: #3585b7;
}
a:visited {
    color: #6252B7;
}
a:hover {
    text-decoration: none;
    color: #555;
}

/* Header*/
header {
    display: flex;
    background: #fff0de;
}
header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a:hover {
    color: #888;
}

/* Main */
main .inner {
    background: #fff0de;
    width: auto;
    margin: 50px auto;
}
main img.toTop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
footer {
    background: #fff0de;
}
footer nav {
    margin: 0 0 0 auto;
}
footer nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}
footer nav ul li a,
footer nav ul li a:link,
footer nav ul li a:visited{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
footer nav ul li a:hover {
    color: #888;
}

/* home */


/* about */
.about main p.image {
    left: 10px;
    width: 20%;
}
.about main section {
    display: flex;
    margin-top: 10px;
}
.about main section div {
    background: #3585b7;
    float: right;
    width: 70%;
    margin: 10px 10px 10px auto;
}
.about main section h5.prof {
    margin-bottom: 20px;
    font-size: 13px;
}
.about main section h5 dd {
    width: 80%;
    font-size: 13px;
}
.about main section h5 dt {
    float: left;
    display: block;
    width: 20%;
    font-weight: bold;
}

/* works */


/* contact */
