@charset "UTF-8";
/* body */
body {
    line-height: 1.7;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #000;
}
a,
a:link {
    color: #3585b7;
}
a:visited {
    color: #6252B7;
}
a:hover {
    text-decoration: none;
    color: #555;
}

/* Header*/
header {
    display: flex;
    background: #fff0de;
}
header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a.now {
    color: #888;
}

/* Main */
main .inner {
    background: #fff0de;
    width: auto;
    margin: 20px auto;
}
main img.toTop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
footer {
    background: #fff0de;
}
footer nav {
    margin: 0 0 0 auto;
}
footer nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}
footer nav ul li a,
footer nav ul li a:link,
footer nav ul li a:visited{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
footer nav ul li a.now {
    color: #888;
}

/* home */
.home main div section{
    display: flex;
}
.home main div section.title{
    justify-content: center;
    text-align: center;
}
.home main div section ul {
    list-style-type: none;
    float: left;
    width: 30%;
    height: 6%;
    padding: 0;
    display: flex;
    position: relative;
}
.home main div section ul li a,
.home main div section ul li a:link
.home main div section ul li a:visited{
    font-size: 3vw;
    display: block;
    text-decoration: none;
    color: #000;
}
.home main div section ul li a:hover {
    color: #888;
}
.home main div section div.slide-show {
    width: 640px;
    width: 70%;
    float: right;
    margin: 10px auto;
    position: relative;
}
.home main div section .slide-show img {
    animation: show 36s infinite;
    max-width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
@keyframes show {
    0% {
        opacity: 0
    }

    17% {
        opacity: 1
    }

    33% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}
.home main div section .slide-show img:nth-of-type(1) {
    position: relative;
}
.home main div section .slide-show img:nth-of-type(2) {
    animation-delay: 4s;
}
.home main div section .slide-show img:nth-of-type(3) {
    animation-delay: 8s;
}
.home main div section .slide-show img:nth-of-type(4) {
    animation-delay: 12s;
}
.home main div section .slide-show img:nth-of-type(5) {
    animation-delay: 16s;
}
.home main div section .slide-show img:nth-of-type(6) {
    animation-delay: 20s;
}
.home main div section .slide-show img:nth-of-type(7) {
    animation-delay: 24s;
}
.home main div section .slide-show img:nth-of-type(8) {
    animation-delay: 28s;
}
.home main div section .slide-show img:nth-of-type(9) {
    animation-delay: 32s;
}

/* about */
.about div {
    display: block;
}
.about main section.contbox {
    margin: 0 40px;
}
.about main h2.title {
    margin: 0 0 70px 0;
    font-size: 46px;
    text-align: left;
    line-height: 1.0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 0.05em;
}
.about main p.txtbox {
    margin-bottom: 50px;
    font-size: 12px;
}
.about main .imgface {
    margin-bottom: 40px;
    text-align: center;
}
@media only screen and (min-width: 760px) {
    .about main .faceLeft {
        float: left;
        width: 20%;
        text-align: left;
    }
    .about main .fbox {
        display: flex;
        margin-top: 10px;
    }
    .about main div.myprof {
        background: #fff0de;
        float: right;
        width: 70%;
        margin: 10px 10px 10px auto;
    }
}
.about main dl.cf {
    zoom: 1;
}
.about main dl.prof {
    margin-bottom: 20px;
    font-size: 13px;
}
.about main dl.prof dt {
    float: left;
    display: block;
    width: 20%;
    font-weight: bold;
}
.about main dl.prof dd {
    width: 80%;
}
.about main h2.name {
    display: block;
    font-size: 100%;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* works */
.works main section {
    background: #6252B7;
}
.works main section div.title {
    background: #555;
    text-align: center;
}
.works main section div.contents {
    display: flex;
    background: #3585b7;
}

/* contact */
