@charset "UTF-8";
/* body */
body {
    line-height: 1.7;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #000;
}
a,
a:link {
    color: #3585b7;
}
a:visited {
    color: #6252B7;
}
a:hover {
    text-decoration: none;
    color: #555;
}

/* Header*/
header {
    display: flex;
}
header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a:hover {
    color: #888;
}

/* Main */
main .inner {
    background: #fff0de;
    width: auto;
    height: 500px;
    margin: 50px auto;
}
main .title {
    background: #6252B7;
    width: auto;
    text-align: center;
}
main section {
    display: flex;
    margin-top: 10px;
}
main section:first-child {
    flex-direction: row-reverse;
}
main section div {
    padding: 0 40px 0 0;
}
main section:first-child div {
    padding: 0 0 0 40px;
}

main .contents {
    background: #3585b7;
    display: flex;
    height: 400px;
}
main .text {
    margin: 0 0 15px;
}
main p.image {
    left: 10px;
    width: 200px;
}

/* Footer */
footer {
    background: #fff0de;
    height: 100px;
}